@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop, $abbrev in (grid-template-columns: grid) {
      @for $value from 1 through 12 {
        .#{$abbrev}#{$infix}-#{$value} {
          #{$prop}: repeat($value, 1fr) !important;
        }
      }
    }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop, $abbrev in (gap: gap) {
      @for $value from 1 through 12 {
        .#{$abbrev}#{$infix}-#{$value} {
          #{$prop}: #{$value * 4}px !important;
        }
      }
    }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop, $abbrev in (grid-column: column) {
      @for $value from 1 through 12 {
        .#{$abbrev}#{$infix}-#{$value} {
          #{$prop}: span $value !important;
        }
      }
    }
  }
}
