body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  main {
    flex: 1;
  }
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
