$light-teal:        #c8fff2;
$light-blue:        #c8f2ff;
$light-purple:      #c8dbff;
$light-violet:      #e0c8ff;
$dark-teal:         #3e8473;
$dark-blue:         #3f7485;
$dark-purple:       #3f5785;

$red-first:         #eb5757;
$blue-first:        #44a8d1;
$blue-second:       #58c5cc;
$blue-third:        #2d9cdb;
$white-first:       #ffffff;
$white-second:      #f5f5f5;
$gray-first:        #6c6c6a;
$gray-second:       #9e9e9e;
$gray-third:        #c8c8c8;
$gray-fourth:       #4f4f4f;
$gray-fifth:        #e0e0e0;
$gray-sixth:        #767676;
$gray-seventh:      #9e9e9e;
$brand-first:       #3b6472;
$brand-second:      #58c4cb;

$theme-colors: (
  'light-teal':       $light-teal,
  'light-blue':       $light-blue,
  'light-purple':     $light-purple,
  'light-violet':     $light-violet,
  'dark-teal':        $dark-teal,
  'dark-blue':        $dark-blue,
  'dark-purple':      $dark-purple,
  'red-first':        $red-first,
  'blue-first':       $blue-first,
  'blue-second':      $blue-second,
  'blue-third':       $blue-third,
  'white-first':      $white-first,
  'white-second':     $white-second,
  'gray-first':       $gray-first,
  'gray-second':      $gray-second,
  'gray-third':       $gray-third,
  'gray-fourth':      $gray-fourth,
  'gray-fifth':       $gray-fifth,
  'gray-sixth':       $gray-sixth,
  'gray-seventh':     $gray-seventh,
  'brand-first':      $brand-first,
  'brand-second':     $brand-second,
) !default;

$spacer: 1rem;
$awe-spacers: (
  'awe-12': $spacer * 0.75,
  'awe-32': $spacer * 2,
  'awe-64': $spacer * 4,
  'awe-108': $spacer * 8,
) !default;

$font-family-sans-serif: 'roboto', sans-serif;

$font-sizes: (14, 24, 32, 72);
$font-familys: ('mulish', 'roboto');

$stages-text-label: $gray-third;
$stages-text-size: 12px;
$stages-figure-size: 64px;
$stages-figure-border: $brand-first;
$stages-figure-background: $white-first;
$stages-figure-background-current: $brand-first;
$stage-text-label-current: $brand-first;

$card-title-height: 80px;
$card-title-color: $blue-third;
$card-title-font-size: 24px;
$card-title-font-size: 24px;

$form-label-color: $gray-sixth;
$form-label-size: 12px;
$form-input-border: $gray-seventh;
$form-input-size: 14px;
$form-required-color: $red-first;
