@import 'bootstrap';

@import 'reboot';
@import 'components';
@import 'grid';

.table-payment {
  --bs-table-bg: #f2f2f2;
  --bs-table-striped-bg: #ffffff;
  --bs-table-striped-color: $gray-sixth;

  color: $gray-sixth !important;
}

.tabs-payment {
  justify-content: space-between;

  @media (max-width: 576px) {
    flex-direction: column;
  }

  border-bottom: 0;
  padding: 16px;
  border: 1px solid $gray-fifth;
  border-radius: 4px;
  margin-bottom: 32px;

  .nav-link {
    color: $gray-fourth !important;

    padding: 0;
    padding-left: 32px;
    border: none;

    @media (max-width: 576px) {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    position: relative;
    &::before {
      content: '';

      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 4px solid white;

      box-shadow: 0 0 0px 2px $brand-second;
      transition: 0.3s background;

      position: absolute;
      top: 50%;
      left: 4px;
      transform: translateY(-50%);
    }
    &.active::before {
      background: $brand-second;
    }
  }
}

a.root {
  transition: 0.3s filter;

  &:hover {
    filter: brightness(0.8);
  }
}

.divider-area {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #9e9e9e !important;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
  }
  .label {
    z-index: 10;
    background: white;
  }
}

.text-hover-white:hover {
  color: white !important;
}

.img-avatar {
  width: 32px;
  height: 32px;
}

.text-hover-white:hover {
  color: #fff !important;
}
