.sidebar {
  width: 250px;
  height: calc(100vh - 45px);

  overflow-y: auto;

  position: fixed;
  left: 0;
  top: 96px;

  @media (min-width: 768px) {
    top: 0;
  }

  .links {
    ul {
      list-style-type: none;

      margin: 0;
      padding: 0;

      font-family: 'Mulish';

      li {
        &.divider {
          border-bottom: 2px solid $gray-fifth;
        }

        a {
          display: flex;

          text-decoration: none;
          color: $gray-fourth;
          font-weight: 500;

          padding: 12px 16px;

          transition: 0.3s all;
          user-select: none;

          &.active,
          &:hover {
            background: $brand-second;

            color: white;
          }
          &.exit {
            color: $red-first;

            &:hover {
              color: white;

              background: $red-first;
            }
          }
          .icon {
            margin-right: 8px;
          }
        }
      }
    }
  }

  & + .page-content {
    @media (min-width: 768px) {
      margin-left: 250px;
    }
    margin-bottom: 45px;
    padding-bottom: 0.5rem;
  }
  @media (max-width: 767px) {
    background: white;
    box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.15) !important;

    z-index: 500;

    height: calc(100vh - 45px - 96px);

    header {
      display: none !important;
    }
    & + .page-content > header {
      background: white !important;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

      position: sticky;
      top: 0;

      z-index: 100;

      .name-user {
        color: $gray-fourth !important;
      }
    }
  }
  & ~ footer {
    position: fixed;
    bottom: 0px;

    width: 100%;

    z-index: 100;
  }

  @media (max-width: 767px) {
    & {
      display: none;

      & + .page-content {
        margin-left: 0;
      }
      &.hide {
        display: block;
      }
    }
  }
}
